<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
<h2>Utilisateurs ayant noté ce cocktail:</h2>
<ul>
  <% @cocktail.users.each do |user| %>
    <li><%= user.email %> a donné la note de <%= user.notes.find_by(cocktail: @cocktail).value %></li>
  <% end %>
</ul>
    <%= render @cocktail %>
  
    <%= link_to "Edit this cocktail", edit_cocktail_path(@cocktail), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this cocktail", cocktail_path(@cocktail), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to cocktails", cocktails_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
